@import url("https://fonts.googleapis.com/css2?family=Karla&display=swap");

body {
  font-family: Karla, sans-serif;
}

#video-layer {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

.no-interact-layer {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

#video-selector {
  position: relative;
  float: right;
  bottom: 0;
  background: rgba(0, 0, 0, 0.75);
  color: #f1f1f1;
  width: 350px;
  min-height: 500px;
  padding: 20px;
  border-radius: 5px;
}

.video-info {
  font-size: 22px;
  background: rgba(75, 73, 73, 0.75);
  margin-bottom: 15px;
  padding: 5px;
  border-radius: 5px;
}

.video-meta {
  font-size: 16px;
  background: rgba(75, 73, 73, 0.75);
  margin-bottom: 15px;
  padding: 5px;
  border-radius: 5px;
}

a {
  color: lightsteelblue;
}

.icon-info {
  font-size: 20px;
  color: #f1f1f1;
}

.icon-meta {
  font-size: 14px;
  color: #f1f1f1;
}

/* Buttons styles start */

button {
  border: 0;
  border-radius: 0.25rem;
  background: #1e88e5;
  color: aliceblue;
  font-family: system-ui, sans-serif;
  font-size: 1.2rem;
  padding: 1rem 2rem;
}

button:hover,
button:focus {
  background: #0053ba;
}

button:focus {
  /* outline: 1px solid #fff; */
  outline-offset: -4px;
}

button:active {
  transform: scale(0.75);
}
/* Button styles end */
