@import url("https://fonts.googleapis.com/css2?family=Karla&display=swap");

body {
  font-family: Karla, sans-serif;
}

#video-layer {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

.no-interact-layer {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
}

#video-selector {
  position: relative;
  float: right;
  bottom: 0;
  background: rgba(0, 0, 0, 0.75);
  color: #f1f1f1;
  width: 350px;
  min-height: 500px;
  padding: 20px;
  border-radius: 5px;
}

.video-meta {
  font-size: 22px;
  background: rgba(75, 73, 73, 0.75);
  margin-bottom: 15px;
  padding: 5px;
  border-radius: 5px;
}

a {
  color: lightsteelblue;
}

.icons {
  font-size: 18px;
  color: #f1f1f1;
}
.refresh-icon {
  position: relative;

  top: 5px;
  left: 5px;
  font-size: 23px;
  color: #f1f1f1;
}

/* Buttons styles start */
button {
  display: inline-block;
  border: none;
  padding: 1rem 2rem;
  margin: 0;
  text-decoration: none;
  background: #0069ed;
  color: #ffffff;
  font-size: 1rem;
  line-height: 1;
  cursor: pointer;
  text-align: center;
  transition: background 250ms ease-in-out, transform 150ms ease;
  -webkit-appearance: none;
  -moz-appearance: none;
}

button:hover,
button:focus {
  background: #0053ba;
}

button:focus {
  outline: 1px solid #fff;
  outline-offset: -4px;
}

button:active {
  transform: scale(0.75);
}
/* Button styles end */
